body{
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 1.6rem;*/
    font: 1.6rem/1.3 'Lato', sans-serif;/*form raccourci pour font-size/ line-height font-family*/
}
html{
    font-size: 62.5%; /*1rem = 10px*/
}
*{
    box-sizing: border-box;
}
.container{
    /*border: 2px solid tomato;*/
    width: 1000px;
    margin: 0 auto;
}
/*header, main, footer{
    border: 2px royalblue solid;
}*/

/*LE HEADER ET LA NAV*/

header{
    background: #18bc9c;
    color: white;
}
nav{
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    /*justify-content: space-between;*//*A VOIR PLUS TARD*/
}
.fa-bars{
    display: none;
}
/*A VOIR PLUS TARD*/
nav.flex{
    justify-content: space-between;
}
nav ul{
    list-style: none;
    /*border: 2px greenyellow solid;*/
    padding-left: 0;
}
nav li{
    padding: .5rem 1rem 0;
}
.visualProfil{
    display: block;
    margin: 50px auto;
}
.titleProfil{
    text-align: center;
    font-size: 8rem; /*1rem = 10px, 8rem= 80px*/
}
hr{
    color: white;
    background: white;
    border: none;
    width: 20%;
    height: 2px;
    margin: 20px auto;
}
.jobTitle{
    color: white;
    text-align: center;
    letter-spacing: .5rem;
    /*word-spacing: 2rem;*//*Faire un espace entre les mots*/
}
main section{
    /*border: 2px green solid;*/
    padding: 80px 0;
}
.gallery figure{
    /*border: 2px orchid solid;*/
    width: 40%;
    margin: 3rem 0 0 0;
}
.gallery img{
    max-width: 100%;
}
.titleSection{
    text-transform: uppercase;
    color: #2c3e50;
    text-align: center;
    font-size: 4rem;/*4rem = 40px*/
}
.titleSection + hr{
    background: #2c3e50;
}
.section2 .titleSection + hr{
    background: white;
}
.section2, .section2 .titleSection{
    background: #18bc9c;
    color: white;
}
.about>div{
    width: 40%;
}
h3{
    color: #2c3e50;
    text-align: center;
}
.btnDownload{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border: 1px white solid;
    width: 10%;
    text-align: center;
    color: white;
}
.btnDownload:hover{
    color: #2c3e50;
    text-decoration: none;
    background: white;
    border: 1px dashed #2c3e50;
    transition-duration: .3s;
    border-radius: 1rem;
}
.formContact{
    /*border: 2px solid orange;*/
    width: 50%;
    margin: 0 auto;
}
.formContact label{
    display: block;
}
.formContact input, .formContact textarea{
    width: 100%;
    border: 1px dotted #2c3e50;
    border-radius: 1rem;
    margin: 20px 0;
}
.formContact input[type="submit"]{
    background: #18bc9c;
    border: none;
    width: 12.5rem;
    display: block;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
    color: white;
}
.formContact input[type="submit"]:hover{
    background: #2c3e50;
}
footer{
    background: #2c3e50;
    color: white;
    text-align: center;
}
footer section > div{
    width: 40%;
    padding: 20px 0;
}
footer a{
    color: white;
    font-size: 3rem;
    padding: .5rem;
}
footer a:hover{
    color: #18bc9c;
    transition-duration: .4s;
}
footer p{
    background: #1a252f;
    padding: 1rem 0;
}

/*LES COULEURS*/
/*
font header : #18bc9c
font nav : #2c3e50
font text : #2c3e50
font copyright : #1a252f
*/



/*Pour les tablettes*/
@media (max-width: 720px){
    .container{
        width: 100%;
    }
    nav ul.flex{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 4rem;
    }
    .gallery figure, .about>div{
        width: 60%;

    }


}

/*LA BOITE A OUTILS*/
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}